/common/.gradle/
/common/build/
/build/
/.idea/
/.gradle/
/fabric/.gradle/
/fabric/build/
/fabric/run/
/common/common.iml
/fabric/fabric.iml
/neoforge/neoforge.iml
/neoforge/.gradle/
/neoforge/build/
/neoforge/run/
/Tritium-Mod-API/gradle/gradle.properties
/Tritium-Mod-API/.gradle/
/Tritium-Mod-API/build/
/Tritium-Mod-API.iml
/override.sh
